<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
        <link href="@Href("~/admin88/css/admin-style.css")" rel="stylesheet"/>
        <link href="~/admin88/css/student-style.css" rel="stylesheet"/>
        <link href="~/admin88/css/modal-window.css" rel="stylesheet"/>
        <link rel="shortcut icon" href="~/shared/images/favicon.ico">
        @RenderSection("head",required:false)
  </head>
  <body>
                        @RenderBody() 

  </body>
</html>

