@{
    Layout="~/shared/layout/_layout.cshtml";
    Page.Title="UPConnect System";
}

@section menu{
    <ul id="simple-menu">           
        <li><a href="~/default"><span>Home</span></a></li>
        <li><a href="~/aboutus" class="current"><span>About Us</span></a></li>
        <li><a href="~/faqs"><span>FAQs</span></a></li>
        <li><a href="~/login"><span>Log In</span></a></li>
        <li><a href="~/contactus"><span>Contact Us</span></a></li>
    </ul>
}
<div class="content">
<div class="contenttext">
<h2>About Us</h2>
<h4>Vision</h4>
<p>It is the vision of UP to provide knowledge and experience-based education that will enable our students to become leaders. UP is committed to being at the forefront of knowledge and best practices. Our students are encouraged to lead a process of creativity and innovation that will energize and transform their community for a better future.</p>
<h4>Mission</h4>
<p>It is the mission of UP to create and transfer knowledge, increase capacity to learn, and provide an opportunity to realize ones' full potential. Through experience-based education, research, and sharing with national and international partners, we aim to produce qualified and professional graduates, imbued with the love of learning.</p>
<h4>Core Values</h4>
<p>UP believes in the following core values:</p>
<table border="0">
<tbody>
<tr>
<td><h5>Honor Self</h5></td>
<td>:</td>
<td>Make yourself honorable by embracing honesty, integrity and professionalism!</td>
</tr>
</tbody>
<tbody>
<tr>
<td><h5>Respect Others</h5></td>
<td>:</td>
<td>Respect one another and celebrate our diverse backgrounds and perspectives!</td>
</tr>
</tbody>
<tbody>
<tr>
<td><h5>Develop Society</h5></td>
<td>:</td>
<td>You have the ability to make a positive impact in your community, your country and the world!</td>
</tr>
</tbody>
</table>	  </div>
</div>
