@{
    Layout="~/shared/layout/_layout.cshtml";
    Page.Title="UPConnect System";
}

@section head{
    <link href="/shared/css/slideshow.css" rel="stylesheet"/>
}

@section menu{
    <ul id="simple-menu">           
        <li><a href="~/default" class="current"><span>Home</span></a></li>
        <li><a href="~/aboutus"><span>About Us</span></a></li>
        <li><a href="~/faqs"><span>FAQs</span></a></li>
        <li><a href="~/account/login"><span>Log In</span></a></li>
        <li><a href="~/contactus"><span>Contact Us</span></a></li>
    </ul>
}
<div class="content">
    <div class="contenttext" style="overflow: auto;">
    @RenderPage("~/Shared/partial/_Verticle-slideshow.cshtml")
    <div class="contenttext" style="float: left;width: 710px;"><h2>Welcome To UPConnect</h2>
    <p >UPConnect serves as an online platform which is a centralized place for management, 
        students, and employers to connect with each other in term of employment opportunity and service. 
        This will increase the efficiency and reduce the operating costs for career office.</p>
    </div>
    </div>
</div>
