@{
    Layout="~/shared/layout/_layout.cshtml";
    Page.Title="UPConnect System";
}
@section menu{
    <ul id="simple-menu">           
        <li><a href="~/default"><span>Home</span></a></li>
        <li><a href="~/aboutus"><span>About Us</span></a></li>
        <li><a href="~/faqs" class="current"><span>FAQs</span></a></li>
        <li><a href="~/login"><span>Log In</span></a></li>
        <li><a href="~/contactus"><span>Contact Us</span></a></li>
    </ul>
}
<!DOCTYPE html>

<div class="content">
<div class="contenttext">
<h2>For Employers</h2>
<p><strong>If I purchase a Job Posting today, when will it expire?</strong></p>
<p><strong></strong>Your posted job will expire 30 days from the posting date. You can extend or renew job posting as you desire.</p>
<p><strong>How much does it cost to subscribe or post jobs to the Job Board ?</strong></p>
<p><strong></strong>The Job Board is FREE for job seekers. If you’re looking to hire employees for your business, posting jobs on AJB is effective and affordable. For as little as $99 you can get started today.</p>
<p>There are even larger discounts for bulk posting. Find rates and information <a href="http://www.nonprofitjobs.activistjobboard.com/employer-products/" target="_blank">here</a>.</p>
<p><strong>Is it easy to post a job on the Job Board?</strong></p>
<p><strong></strong>Yes, ActivistJobBoard provides a quick and convenient way to reach a targeted, national audience.<br>
To see how easy it is, give the tools available in “My Account” a spin. <a href="http://www.nonprofitjobs.activistjobboard.com/registration/?user_group_id=Employer" target="_blank">Sign up for an account today</a> .</p>
<p><strong>How do I edit a job on the Job Board once I have posted it?</strong></p>
<p>Simply log in to your employer account, select the “edit” option next to the job that you would like to edit, make your changes, and click “submit”.</p>
<p><strong>Do we get notifications of new candidate resume submissions?</strong></p>
<p><strong></strong>Yes, you can configure who gets notified of new resume submissions and emails</p>
<p><strong>How do I extend the expiration date of a position once I have already posted it on the Job Board?</strong></p>
<p><strong></strong>In your employer account, you can extend the job post expiration date at any time (as long as it is before the job post actually expires). If the job post expires, it will drop off of your list of active jobs and you will have to repost the position.</p>
<p><strong>How do I get my job featured?</strong></p>
<p><strong></strong>You can purchase a “Featured Job” product. If you have already posted a regular job posting and decide you want to upgrade to a featured posting, you may do so with one simple click. Simply go to your employer account by clicking “My Account” tab, access “My Jobs” to find the job you’d like to feature and upgrade to featured job by clicking on “Upgrade to Featured”.</p>
<p><strong>How do I post my internship?</strong></p>
<p><strong></strong>Internship Postings are FREE! Click <a href="http://www.activistjobboard.com/directory" target="_blank">here</a> or go to <a href="http://www.activistjobboard.com/directory" target="_blank">http://www.activistjobboard.com/directory</a>&nbsp;and post under the”Internships” category.</p>
<p><strong>How do I post my event?</strong></p>
<p><strong></strong>Event Postings are FREE! Click <a href="http://www.activistjobboard.com/directory" target="_blank">here</a> or go to <a href="http://www.activistjobboard.com/directory/" target="_blank">http://www.activistjobboard.com/directory</a>&nbsp;and post under the “Events” category</p>
<p><strong>Do you have any quality guidelines for job content?&nbsp;</strong></p>
<p><strong></strong>YES. As a condition to access and use the site and services of ActivistJobBoard.com, you agree not to use the site or services for any purpose or in any manner that violates any local, state or federal law or regulation or that violates the law or regulation of any foreign government;<br>
Also your job posting must be free from any illegal, harmful, threatening, abusive, harassing, tortious, defamatory, vulgar, obscene, libelous, pornographic, sexually explicit, invasive of another’s privacy, hateful, and/or racially, ethnically, or otherwise offensive content.</p>
<p><strong>How does my organization receive additional discounts for products and services?</strong></p>
<p><strong></strong>Join our social networks. We regularly post promo codes that can save you $$ off your Job postings. We even run promotions that allow you to post for free! The only way to find out about these savings is to connect with us. We may announce these promotions on one or all of the below. Sign up for all to ensure the news reaches you!<br>
Newsletter – found in the upper right sidebar<br>

<h2>For Job Seekers</h2>
<p><strong>How can I see a complete listing of all jobs posted to the site?</strong></p>
<p><strong></strong>To see a complete listing of all jobs click on <a href="http://www.nonprofitjobs.activistjobboard.com/" target="_blank">Search Jobs</a>, then on the search page, click on the <a href="http://www.nonprofitjobs.activistjobboard.com/search-results-jobs/?action=search&amp;listing_type%5Bequal%5D=Job&amp;keywords%5Ball_words%5D=&amp;JobCategory%5Bmulti_like%5D%5B%5D=&amp;City%5Bequal%5D=&amp;State%5Bmulti_like%5D%5B%5D=" target="_blank">Search</a>&nbsp;button to see a list of all jobs on the site.<br>
<a href="http://www.nonprofitjobs.activistjobboard.com/search-results-jobs/?action=search&amp;listing_type%5Bequal%5D=Job&amp;keywords%5Ball_words%5D=&amp;JobCategory%5Bmulti_like%5D%5B%5D=&amp;City%5Bequal%5D=&amp;State%5Bmulti_like%5D%5B%5D=" target="_blank">Browse jobs now!</a></p>
<p><strong>How do I search for jobs online?</strong></p>
<p><strong></strong>To search you will need to click on <a href="http://www.nonprofitjobs.activistjobboard.com/" target="_blank">Search Jobs</a>. Then on the search page, click on the <a href="http://www.nonprofitjobs.activistjobboard.com/search-results-jobs/?action=search&amp;listing_type%5Bequal%5D=Job&amp;keywords%5Ball_words%5D=&amp;JobCategory%5Bmulti_like%5D%5B%5D=&amp;City%5Bequal%5D=&amp;State%5Bmulti_like%5D%5B%5D=" target="_blank">Search</a>&nbsp;button to see a list of all jobs on the site. In addition, you can use our advanced search features by selecting one or more of the search criteria: category, state/region, status, and salary. You can also search by entering job information keywords and then click on the “Search” button.</p>
<p><strong>How do I apply for a job listed on the AJB Job Board?</strong></p>
<p><strong></strong>Each job has instructions for how the employer who posted the job wants you to apply. The application instructions are listed at the bottom of the job listing under the “Apply” section.</p>
<p><strong>How do I search for internships?</strong></p>
<p><strong></strong>Internship opportunities can be found <a href="http://www.activistjobboard.com/directory/browse-categories/?category_id=2/internships" target="_blank">here</a> or you can also go to <a href="http://www.activistjobboard.com/directory/browse-categories/?category_id=2/internships/" target="_blank">http://www.activistjobboard.com/directory/browse-categories/?category_id=2/internships</a></p>
<p><strong>How can my resume stand out?</strong></p>
<p><strong></strong>Resume writing services are available upon request. If your resume is well written and you’re looking to get in front of more hiring managers and decision makers, sign up for a <a href="http://www.nonprofitjobs.activistjobboard.com/jobseeker-products/" target="_blank">“Priority Resume Posting”</a></p>
<p><strong>How can I be featured as “Making a Difference?”</strong></p>
<p><strong></strong>We’d love for you to tell your story. Email us at <a href="info@activistjobboard.com" target="_blank">info@activistjobboard.com</a> and in the subject line write “I want to be featured – Making a Difference”. Please include a high resolution photo of yourself or group and a bio or what you’re doing to make a difference.</p>
<p><strong>What is a Job Alert email?</strong></p>
<p><strong></strong>If you save your job search as a Job Alert email, you will receive daily or weekly emails containing links to new jobs matching your search criteria. You may set up as many Job Alerts as you like and you may cancel them at any time.</p>
<p><strong>How do I create job alerts?</strong></p>
<p><strong></strong>Job Alerts can be created and managed via “Job Alerts” menu of My Account. So go to “My Account” » “Job Alerts”, the click on “Add new job alert” and fill out the information that is appropriate for the type of jobs you want to be alerted on.<br>
Also you can save a certain search as a job alert by clicking on the “Save Job Alert” link on the Job Search Results page.</p>
<p><strong>What is RSS?</strong></p>
<p><strong></strong>RSS (Really Simple Syndication) is a way to subscribe to a website and have new content delivered to you. In order to use RSS, you need an RSS reader. Internet Explorer, Firefox, and other web browsers have RSS readers built-in. There are also online RSS readers like Bloglines or Google Reader, and downloadable programs like NewsNetWire that you can use to view RSS feeds.</p>
<p><strong>I lost my login and/or password how can I get it back?</strong></p>
<p>For lost or forgotten password, Click <a href="http://www.nonprofitjobs.activistjobboard.com/password-recovery/" target="_blank">here</a> and enter your&nbsp;account’s&nbsp;email&nbsp;address or go to <a href="http://www.nonprofitjobs.activistjobboard.com/password-recovery/">http://www.nonprofitjobs.activistjobboard.com/password-recovery</a>.</p>
 
		</div>
</div>
