<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>UPConnect LogIn Page</title>
        <link href="~/admin88/js/bootstrap.css" rel="stylesheet">
        <!-- Loading Flat UI -->
        <link href="~/admin88/js/flat-ui.css" rel="stylesheet">
    </head>
    <body>
        <div style="width: 700px;margin: 0 auto;">
        <div style="background-color: #291670;padding: 15px;margin-top: 150px;border-radius: 8px;border: solid 2px #eee;box-shadow: 2px red">
          <div style="padding: 15px;">
            <img src="~/shared/images/up-connect-logo.png" alt="Welcome to UPConnect" />
          </div>

          <div class="login-form">
            <div class="form-group">
              <input type="text" class="form-control login-field" value="" placeholder="Enter your e-mail address" id="login-name" />
              <label class="login-field-icon fui-user" for="login-name"></label>
            </div>

            <div class="form-group">
              <input type="password" class="form-control login-field" value="" placeholder="Password" id="login-pass" />
              <label class="login-field-icon fui-lock" for="login-pass"></label>
            </div>

            <a class="btn btn-primary btn-lg btn-block" href="#">Login</a>
            <a class="login-link" href="#">Lost your password?</a>
          </div>
        </div>
      </div>
    </body>
</html>
