<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web> 
        <compilation debug="false" targetFramework="4.0" /> 
        <customErrors mode="On" defaultRedirect="/Error" /> 
    </system.web>
    <system.webServer> 
        <httpErrors errorMode="Custom"> 
            <remove statusCode="404" subStatusCode="-1" /> 
            <error statusCode="404" subStatusCode="-1" prefixLanguageFilePath="" path="../Error/404" responseMode="Redirect" /> 
        </httpErrors> 
    </system.webServer>
    <connectionStrings>
        <add connectionString="server=.;database=UPConnect_DB;Trusted_Connection=True" name="UPConnect_DB" providerName="System.Data.SqlClient" />
    </connectionStrings> 
</configuration>