@{
    Layout="~/shared/layout/_studentlayout.cshtml";
    Page.Title="Admin Page";
}
@section head{
    <link href="~/admin88/css/student-style.css" rel="stylesheet"/>
}
@section menu{
    <ul id="simple-menu">
        <li><a href="~/admin88/student/default.cshtml" class="current"><span>Dashboard</span></a></li>                
        <li><a href="~/admin88/student/profile.cshtml"><span>Profile</span></a></li>
        <li><a href="~/admin88/student/companylists.cshtml"><span>Company</span></a></li>
        <li><a href="~/admin88/student/support.cshtml"><span>Support</span></a></li>	  				
    </ul>
}
            <div class="col2">
        <div id="header-title">
            <div>Prudential Cambodia</div>
        </div>
        <table class="company-detail" border="0" style="width:100%;"> 
			<tbody>
                <tr>
			        <th scope="row">Address</th>
					<td style="width:420px">Phnom Penh Tower, 20F, #445 Monivong Blvd, Boeung Prolit, 7 Makara</td>
                    <td rowspan="8"><img style="width: 100%;margin: 0 auto;" src="~/admin88/images/company/img_prudential.gif"/></td>
				</tr>
                <tr>
					<th scope="row">Company Size</th>
					<td>800 Employees</td>
				</tr>
                <tr>
					<th scope="row">Website</th>
					<td>www.prudental.com.kh</td>
				</tr>
                <tr>
					<th scope="row">Email</th>
					<td>info@prudental.com.kh</td>
				</tr>
            <tr>
					<th scope="row">Telephone</th>
					<td>023 788 899 , 098 889 999</td>
				</tr>
            <tr>
					<th scope="row">Fax</th>
					<td>023 788 899</td>
				</tr>
            <tr>
					<th scope="row">Type</th>
					<td>Component</td>
			</tr>
            <tr>
					<th scope="row">Industry</th>
					<td>Insurance</td>
			</tr>
			</tbody>
        </table>
        <div id="header-title" style="margin-top:20px">
            <div>Mission Statement</div>
        </div>
        <table class="job-contact" border="0" style="width: 100%">
					<tbody><tr>
								<td>Mission Statement</td> 
							</tr> 							 							
						</tbody>
        </table>
        <div id="header-title" style="margin-top:20px">
            <div>Executive Summary</div>
        </div>
        <table class="job-contact" border="0" style="width: 100%">
					<tbody><tr>
								<td>Executive Summary</td> 
							</tr> 							 							
						</tbody>
        </table>
        <div id="header-title" style="margin-top:20px">
            <div>Contact Detail</div>
        </div>
        <table class="job-contact" border="0" style="width: 100%">
					<tbody><tr>
								<th style="width:128px">Contact Person</th>
                                <td>:</td>
								<td>Siden Sim</td> 
							</tr> 
							<tr>
								<th>Phone</th>
                                <td>:</td>
								<td>(855) 23 964 555</td>
							</tr>  
							<tr>
								<th>Email</th>
                                <td>:</td>
								<td>siden.sim@prudential.com.kh</td>
							</tr> 
							<tr>
							    <th>Address</th>
                                <td>:</td>
							    <td>Phnom Penh Tower, 20F, #445 Monivong Blvd, Boeung Prolit, 7 Makara, Phnom Penh, Kingdom of Cambodia</td>
							</tr>							 							
						</tbody>
            </table>
        <div id="header-title" style="margin-top:20px">
            <div>Job Anouncement</div>
        </div>
        <table class="bordered joblist">
  <tr>
    <th scope="col" style="width: 200px;">Jobs</th>
    <th scope="col" style="width: 100px;">Location</th>
    <th scope="col" style="width: 100px;">Closing Date</th>
  </tr>
  <tr>
    <td><a href="job-description">Actuarial Assistant</a></td>
    <td>Phnom Penh</td>
    <td>12 April 2014</td>
  </tr>
  <tr>
    <td>Actuarial Assistant</td>
    <td>Phnom Penh</td>
    <td>12 April 2014</td>
  </tr>
  <tr>
    <td>Actuarial Assistant</td>
    <td>Phnom Penh</td>
    <td>12 April 2014</td>
  </tr>
  <tr>
    <td>Actuarial Assistant</td>
    <td>Phnom Penh</td>
    <td>12 April 2014</td>
  </tr>
  <tr>
    <td>Actuarial Assistant</td>
    <td>Phnom Penh</td>
    <td>12 April 2014</td>
  </tr>
</table>

</div>