@{
    Layout="~/shared/layout/_studentlayout.cshtml";
    Page.Title="Admin Page";
}
@section head{
    <link href="~/admin88/css/student-style.css" rel="stylesheet"/>
}
@section menu{
    <ul id="simple-menu">
        <li><a href="~/admin88/student/default.cshtml" class="current"><span>Dashboard</span></a></li>                
        <li><a href="~/admin88/student/profile.cshtml"><span>Profile</span></a></li>
        <li><a href="~/admin88/student/companylists.cshtml"><span>Company</span></a></li>
        <li><a href="~/admin88/student/support.cshtml"><span>Support</span></a></li>	  				
    </ul>
}
<table border="0" style="margin-top: -3px;width: 100%">
    <tr>
        <td style="width: 640px;">
        <div>
        <div id="header-title">Search Job</div>
        <div id="box">
        <select style="height: 35px;width: 168px;">
            <option value="volvo">Accounting</option>
            <option value="saab">Management</option>
            <option value="mercedes">IT / Design</option>
            <option value="audi">Marketing</option>
        </select>
            <input id="Text1" type="text" style="height:25px;width:168px;margin-right:10px;"/><input id="Submit1" type="submit" value="submit" />
        </div>
    </div></td>
        <td rowspan="2" valign="top">
            <div style="float:right;width: 220px;font-size: 14px;padding-left: 10px;" class="Col1">
            <div id="header-title" style="border: 1px solid #b1d2e4;background: #ecf7fd url(~/admin88/images/nav-bg-gold.png) left bottom repeat-x;">
                <div style="overflow: hidden;clear: both">
                    <span id="title" style="float: left">Favourite Jobs</span>
                    <a href="favorite.cshtml"><span id="title" style="float: right;color: red;">More...</span></a>
                </div>
            </div>
                <div style="background-color: white;border: 1px solid #b1d2e4;border-top: none;padding: 0px;margin: 0;overflow: auto;">
                
                    <ul style="margin-left: -20px;">
                        <li style="line-height: 20px;
                            height: 35px;
                            border-bottom: 1px dotted #E1E1E1;
                            width: 185px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;list-style: none;"><a href="job-description">IT Officer (Honda Company)</a></li>
                        <li style="line-height: 20px;
                            height: 35px;
                            border-bottom: 1px dotted #E1E1E1;
                            width: 185px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;list-style: none;"><a href="#">Web Developer (Blue Technology)</a></li>
                        <li style="line-height: 20px;
                            height: 35px;
                            border-bottom: 1px dotted #E1E1E1;
                            width: 185px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;list-style: none;"><a href="#">Web Developer (Blue Technology)</a></li>
                        <li style="line-height: 20px;
                            height: 35px;
                            border-bottom: 1px dotted #E1E1E1;
                            width: 185px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;list-style: none;"><a href="#">Web Developer (Blue Technology)</a></li>
                        <li style="line-height: 20px;
                            height: 35px;
                            border-bottom: 1px dotted #E1E1E1;
                            width: 185px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;list-style: none;"><a href="#">Web Developer (Blue Technology)</a></li>
                        <li style="line-height: 20px;
                            height: 35px;
                            border-bottom: 1px dotted #E1E1E1;
                            width: 185px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;list-style: none;"><a href="#">Web Developer (Blue Technology)</a></li>
                        <li style="line-height: 20px;
                            height: 35px;
                            border-bottom: 1px dotted #E1E1E1;
                            width: 185px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;list-style: none;"><a href="#">Web Developer (Blue Technology)</a></li>
                        <li style="line-height: 20px;
                            height: 35px;
                            border-bottom: 1px dotted #E1E1E1;
                            width: 185px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;list-style: none;"><a href="#">Web Developer (Blue Technology)</a></li>
                        <li style="line-height: 20px;
                            height: 35px;
                            border-bottom: 1px dotted #E1E1E1;
                            width: 185px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;list-style: none;"><a href="#">Web Developer (Blue Technology)</a></li>
                    </ul>
                </div>
            </div>  
        </td>
    </tr>
    <tr>
        <td>
            <div class="">
        <div id="header-title">
            <div>Latest Job Announcement</div>
        </div>
        <div class="content-wrap" style="padding: 5px;">
<table class="bordered joblist">
  <tr>
    <th scope="col" style="width: 200px;">Jobs</th>
    <th scope="col">Company</th>
    <th scope="col" style="width: 100px;">Location</th>
    <th scope="col" style="width: 100px;">Closing Date</th>
  </tr>
  <tr>
    <td><a href="job-description">Actuarial Assistant</a></td>
    <td><a href="company-detail">Prudential (Cambodia) Life Assurance Plc.</a></td>
    <td>Phnom Penh</td>
    <td>12 April 2014</td>
  </tr>
  <tr>
    <td>Actuarial Assistant</td>
    <td>Prudential (Cambodia) Life Assurance Plc.</td>
    <td>Phnom Penh</td>
    <td>12 April 2014</td>
  </tr>
  <tr>
    <td>Actuarial Assistant</td>
    <td>Prudential (Cambodia) Life Assurance Plc.</td>
    <td>Phnom Penh</td>
    <td>12 April 2014</td>
  </tr>
  <tr>
    <td>Actuarial Assistant</td>
    <td>Prudential (Cambodia) Life Assurance Plc.</td>
    <td>Phnom Penh</td>
    <td>12 April 2014</td>
  </tr>
  <tr>
    <td>Actuarial Assistant</td>
    <td>Prudential (Cambodia) Life Assurance Plc.</td>
    <td>Phnom Penh</td>
    <td>12 April 2014</td>
  </tr>
  <tr>
    <td>Actuarial Assistant</td>
    <td>Prudential (Cambodia) Life Assurance Plc.</td>
    <td>Phnom Penh</td>
    <td>12 April 2014</td>
  </tr>
  <tr>
    <td>Actuarial Assistant</td>
    <td>Prudential (Cambodia) Life Assurance Plc.</td>
    <td>Phnom Penh</td>
    <td>12 April 2014</td>
  </tr>
  <tr>
    <td>Actuarial Assistant</td>
    <td>Prudential (Cambodia) Life Assurance Plc.</td>
    <td>Phnom Penh</td>
    <td>12 April 2014</td>
  </tr>
  <tr>
    <td>Actuarial Assistant</td>
    <td>Prudential (Cambodia) Life Assurance Plc.</td>
    <td>Phnom Penh</td>
    <td>12 April 2014</td>
  </tr>
  <tr>
    <td>Actuarial Assistant</td>
    <td>Prudential (Cambodia) Life Assurance Plc.</td>
    <td>Phnom Penh</td>
    <td>12 April 2014</td>
  </tr>
</table>
                </div>
            </div>
            </div>
        </div>  </td>
    </tr>
</table>
    
                                      
     
