@{
    Layout="~/shared/layout/_studentlayout.cshtml";
    Page.Title="Admin Page";
}
@section menu{
    <ul id="simple-menu">
        <li><a href="~/admin88/student/default.cshtml" class="current"><span>Dashboard</span></a></li>                
        <li><a href="~/admin88/student/profile.cshtml"><span>Profile</span></a></li>
        <li><a href="~/admin88/student/companylists.cshtml"><span>Company</span></a></li>
        <li><a href="~/admin88/student/support.cshtml"><span>Support</span></a></li>	  				
    </ul>
}
<table border="0" style="margin-top: -3px">
    <tr>
        <td>
        <div>
        <div id="header-title">Search Job</div>
        <div id="box">
        <select style="height: 35px;width: 168px;">
            <option value="volvo">Accounting</option>
            <option value="saab">Management</option>
            <option value="mercedes">IT / Design</option>
            <option value="audi">Marketing</option>
        </select>
            <input id="Text1" type="text" style="height:35px;width:168px;margin-right:10px;"/><input id="Submit1" type="submit" value="submit" />
        </div>
    </div></td>
        <td rowspan="2" valign="top">
            <div style="float:right;width: 220px;font-size: 14px;padding-left: 10px;" class="Col1">
            <div id="header-title" style="border: 1px solid #b1d2e4;background: #ecf7fd url(~/admin88/images/nav-bg-gold.png) left bottom repeat-x;">
                <div style="overflow: hidden;clear: both">
                    <span id="title" style="float: left">Favourite Jobs</span>
                    <a href="favorite.cshtml"><span id="title" style="float: right;color: red;">More...</span></a>
                </div>
            </div>
                <div style="background-color: white;height: 250px;border: 1px solid #b1d2e4;border-top: none;padding: 0px;margin: 0;overflow: auto;">
                
                    <ul style="margin-left: -20px;">
                        <li style="line-height: 20px;
                            height: 35px;
                            border-bottom: 1px dotted #E1E1E1;
                            width: 185px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;list-style: none;"><a href="#">IT Officer (Honda Company)</a></li>
                        <li style="line-height: 20px;
                            height: 35px;
                            border-bottom: 1px dotted #E1E1E1;
                            width: 185px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;list-style: none;"><a href="#">Web Developer (Blue Technology)</a></li>
                        <li style="line-height: 20px;
                            height: 35px;
                            border-bottom: 1px dotted #E1E1E1;
                            width: 185px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;list-style: none;"><a href="#">Web Developer (Blue Technology)</a></li>
                        <li style="line-height: 20px;
                            height: 35px;
                            border-bottom: 1px dotted #E1E1E1;
                            width: 185px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;list-style: none;"><a href="#">Web Developer (Blue Technology)</a></li>
                        <li style="line-height: 20px;
                            height: 35px;
                            border-bottom: 1px dotted #E1E1E1;
                            width: 185px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;list-style: none;"><a href="#">Web Developer (Blue Technology)</a></li>
                        <li style="line-height: 20px;
                            height: 35px;
                            border-bottom: 1px dotted #E1E1E1;
                            width: 185px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;list-style: none;"><a href="#">Web Developer (Blue Technology)</a></li>
                        <li style="line-height: 20px;
                            height: 35px;
                            border-bottom: 1px dotted #E1E1E1;
                            width: 185px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;list-style: none;"><a href="#">Web Developer (Blue Technology)</a></li>
                        <li style="line-height: 20px;
                            height: 35px;
                            border-bottom: 1px dotted #E1E1E1;
                            width: 185px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;list-style: none;"><a href="#">Web Developer (Blue Technology)</a></li>
                        <li style="line-height: 20px;
                            height: 35px;
                            border-bottom: 1px dotted #E1E1E1;
                            width: 185px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;list-style: none;"><a href="#">Web Developer (Blue Technology)</a></li>
                    </ul>
                </div>
            </div>  
        </td>
    </tr>
    <tr>
        <td>
            <div class="col2">
        <div id="header-title">
            <div>Latest Job Announcement</div>
        </div>
        <div id="box" style="padding: 0;">
            <div class="job-post">
                <div class="job-head">
                    <div class="job-title">
                        <a href="#">Academic Officer</a>
                    </div>
                    <div class="job-tool">
                        <span class="t-apply">Apply</span><span class="t-favor">Add to Favorite</span>
                    </div>
                </div>
                <div class="job-desc">
                    University of Puthisastra (UP) is a leading university that is strongly committed to developing higher education in Cambodia. 
                    Through its core values, UP is helping students realize their full potential to become the leaders of tomorrow. Are you looking 
                    for a sustainable job?Would you like to work for an organization where employee's capacity is recognized and appreciated? 
                    University of Puthisastra is looking for qualified applicants to fill in the following positions
                </div>
            </div>
            </div>
        </div>  </td>
    </tr>
</table>
    
                                      
     
