@{
    Layout="~/shared/layout/_studentlayout.cshtml";
    Page.Title="Admin Page";
}
@section menu{
    <ul id="simple-menu">
        <li><a href="~/admin88/student/default.cshtml"><span>Dashboard</span></a></li>                
        <li><a href="~/admin88/student/profile.cshtml" class="current"><span>Profile</span></a></li>
        <li><a href="~/admin88/student/companylists.cshtml"><span>Company</span></a></li>
        <li><a href="~/admin88/student/support.cshtml"><span>Support</span></a></li>	 				
    </ul>
}
<div id="header-title" style="overflow: auto;">
    <span class="section-title">Educational Information</span></span>
    <span class="section-control">
    <a href="edit/education-info.cshtml" class="button">Add</a></span>
</div>
<table style="width: 100%;"><tbody>
                        <tr>
                            <th scope="Row">Institute</th>
                            <th scope="Row">Qualification</th>
                            <th scope="Row">Major</th>
                            <th scope="Row">From</th>
                            <th scope="Row">To</th>
                            <th style="width: 85px;"></th>
                        </tr>
                        <tr>
                            <td>Oscar Insitution of Technology</td>
                            <td>Bachelor</td>
                            <td>IT Networking</td>
                            <td>2000</td>
                            <td>2004</td>
                            <td><a href="edit/education-infocshtml" class="edit">Edit</a> | <a href="#" class="">Delete</a></td>
                        </tr>
                        <tr>
                            <td>Oscar Insitution of Technology</td>
                            <td>Bachelor</td>
                            <td>IT Networking</td>
                            <td>2000</td>
                            <td>2004</td>
                            <td><a href="edit/education-info.cshtml" class="edit">Edit</a> | <a href="#" class="">Delete</a></td>
                        </tr>
                    </tbody>
</table> </div>