@{
    Layout="~/shared/layout/_studentlayout.cshtml";
    Page.Title="Admin Page";
}
@section menu{
    <ul id="simple-menu">
        <li><a href="~/admin88/student/default.cshtml"><span>Dashboard</span></a></li>                
        <li><a href="~/admin88/student/profile.cshtml" class="current"><span>Profile</span></a></li>
        <li><a href="~/admin88/student/companylists.cshtml"><span>Company</span></a></li>
        <li><a href="~/admin88/student/support.cshtml"><span>Support</span></a></li>	 				
    </ul>
}
<div id="header-title">Create CV</div>
                <div id="box" style="padding: 20px;overflow: hidden;">
                    <ul class="info">
                        <li><a href="edit/language.cshtml" class="button">Generate CV</a></li>
                    </ul>
                    <div class="Action">
                    </div>

                </div>