@{
    Layout="~/shared/layout/_studentlayout.cshtml";
    Page.Title="Admin Page";
}
@section head{
    <link href="~/admin88/css/student-style.css" rel="stylesheet"/>
}
@section menu{
    <ul id="simple-menu">
        <li><a href="~/admin88/student/default.cshtml" class="current"><span>Dashboard</span></a></li>                
        <li><a href="~/admin88/student/profile.cshtml"><span>Profile</span></a></li>
        <li><a href="~/admin88/student/companylists.cshtml"><span>Company</span></a></li>
        <li><a href="~/admin88/student/support.cshtml"><span>Support</span></a></li>	  				
    </ul>
}
            <div class="col2">
        <div id="header-title">
            <div>Prudential Cambodia</div>
        </div>
        <table class="company-detail" border="0" style="width:100%;"> 
						<tbody>
                        <tr>
							<th scope="row">Level<</th>
							<td style="width:100px">Middle</td>
							<th>Term</th>
							<td>Full Time</td>
                            <td rowspan="8"><img style="width: 100%;margin: 0 auto;" src="~/admin88/images/company/img_prudential.gif"/></td>
						</tr>
						<tr>
							<th>Work years</th>
							<td></td>
							<th>Function</th>
							<td>Banking/Insurance</td>
						</tr>
						<tr>
                            <th>Salary</th>
							<td>Negotiable </td>
							<th scope="row">Industry</th>
							<td>Insurance</td> 
						</tr>
						<tr>
                            <th scope="row">Sex</th>
							<td>Male/Female</td>
							<th scope="row">Qualification</th>
							<td>Bachelor Degree </td>
						</tr>
						<tr>
							
							<th>Language</th>
							<td>
								<div class="job-info-attr">English--Excellent</div>							
							</td>
                            <th>Location</th>
							<td>
									Phnom Penh;
							</td>
						</tr>
						<tr>
							<th scope="row">Publish Date</th>
							<td>Mar-13-2014</td>
							<th>Closing Date</th>
							<td>Apr-12-2014</td>
						</tr>
						<tr>
							<th>Age</th>
							<td> ~ </td>
                            <th></th>
                            <td></td>
						</tr> 
                        <tr>
							    <td colspan="4" style="padding: 10px;text-align: right;"><input id="apply" type="button" value="Apply Now" style="width:200px;height: 40px;background-color: #291670;"></td>
						</tr>
					</tbody></table>
        <div id="header-title" style="margin-top:20px">
            <div>Job Description</div>
        </div>
        <table border="0" style="width: 100%">
					<tbody><tr>
								<td><b>Business Context:</b><br><br>The job holder is the actuarial assistant for the company.  He/she would assist the actuary across a variety of actuarial disciplines such as<br>1.Statutory or regulatory reporting, <br>2.Shareholder reporting<br>3.Pricing of new products, <br>4.Risk management, <br>5.Experience analysis to set and monitor validity of all assumptions used in actuarial work and <br>6.Modeling to support all the above functions<br></td> 
							</tr> 							 							
						</tbody>
        </table>
        <div id="header-title" style="margin-top:20px">
            <div>Job Requirement</div>
        </div>
        <table class="job-contact" border="0" style="width: 100%">
					<tbody><tr>
								<td><b>Key Responsibilities:</b><br><br>- Calculation of the policy liabilities and required capital for demonstration of statutory solvency in accordance with local regulations and actuarial principles. Prepare reports on the statutory solvency position. Perform analysis to ensure optimal capital management for the company.<br>- Preparation of financial results on various basis, including IFRS and EEV with accuracy, on a timely basis, on sound principles after thorough analysis.<br>- Modeling and profit testing of new products. <br>- Performing regular experience analyses in relation to expenses, claims and persistency.<br>- Maintenance of reinsurance systems, preparation of accounts, and the assessment, documentation and update of reinsurance treaties.<br>- Work closely with peers in the Finance team for financial reporting and budgeting &amp; forecasting.<br>- Sitting for and passing actuarial exams of a recognized professional actuarial association.<br>
                                </td> 
							</tr> 							 							
						</tbody>
        </table>
        <div id="header-title" style="margin-top:20px">
            <div>Contact & Apply</div>
        </div>
        <table style="width: 100%;" border="0">
					<tbody><tr>
								<th style="width:128px">Contact Person</th>
                                <td>:</td>
								<td>Siden Sim</td> 
							</tr> 
							<tr>
								<th>Phone</th>
                                <td>:</td>
								<td>(855) 23 964 555</td>
							</tr>  
							<tr>
								<th>Email</th>
                                <td>:</td>
								<td>siden.sim@prudential.com.kh</td>
							</tr> 
							<tr>
							    <th>Address</th>
                                <td>:</td>
							    <td>Phnom Penh Tower, 20F, #445 Monivong Blvd, Boeung Prolit, 7 Makara, Phnom Penh, Kingdom of Cambodia</td>
							</tr>
            				<tr>
							    <td colspan="3"><input id="apply" type="button" value="Apply Now" style="width:200px;height: 40px;background-color: #291670;"></td>
							</tr>
								 							
						</tbody></table>
        

</div>