@{
    Layout="~/shared/layout/_studentlayout.cshtml";
    Page.Title="Admin Page";
}
@section menu{
    <ul id="simple-menu">
        <li><a href="~/admin88/student/default.cshtml"><span>Dashboard</span></a></li>                
        <li><a href="~/admin88/student/profile.cshtml" class="current"><span>Profile</span></a></li>
        <li><a href="~/admin88/student/companylists.cshtml"><span>Company</span></a></li>
        <li><a href="~/admin88/student/support.cshtml"><span>Support</span></a></li>	 				
    </ul>
}

<link href="@Href("../css/table-style.css")" rel="stylesheet"/>

<div id="header-title">Profile</div>
<div id="box" style="background-color: white">
    <table>
        <thead>
	    <tr class="odd">
		    <th scope="col" colspan="4">Brief Information</th>
	    </tr>	
	    </thead>
        <tbody>
        <tr>
            <td scope="row" class="column1">First Name</td>
            <td>Chhem</td>
            <td scope="row" class="column1">Last Name</td>
            <td>Chhay</td>
        </tr>
        <tr>
            <td scope="row" class="column1">Primary Phone</td>
            <td>016 793033</td>
            <td scope="row" class="column1">Secondary Phone</td>
            <td>015 793033</td>
        </tr>
        <tr>
            <td scope="row" class="column1">Date Of Birth</td>
            <td>25 Oct 1986</td>
            <td scope="row" class="column1">E-mail</td>
            <td>chhay_ittech@hotmail.com</td>
        </tr>
        </tbody>
        <thead>
	    <tr class="odd">
		    <th scope="col" colspan="4">Education Information</th>
	    </tr>	
	    </thead>
        <tbody>
        <tr>
            <td colspan="4">
                <table>
                    <thead>
                        <tr class="odd">
                            <td scope="col1">Qualification</td>
                            <td scope="col1">From</td>
                            <td scope="col1">To</td>
                            <td scope="col1">Institution</td>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Master Degree of Computer Science</td>
                        <td>Oct 2009</td>
                        <td>Oct 2011</td>
                        <td>University of Puthisastra</td>
                    </tr>
                    <tr>
                        <td>Master Degree of Computer Science</td>
                        <td>Oct 2009</td>
                        <td>Oct 2011</td>
                        <td>University of Puthisastra</td>
                    </tr>
                    <tr>
                        <td>Master Degree of Computer Science</td>
                        <td>Oct 2009</td>
                        <td>Oct 2011</td>
                        <td>University of Puthisastra</td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
        <thead>
	    <tr class="odd">
		    <th scope="col" colspan="4">Employment History</th>
	    </tr>	
	    </thead>
        <tbody>
            <tr>
                <td colspan="4">
                    <table>
                    <thead>
                        <tr class="odd">
                            <td scope="col1">Position</td>
                            <td scope="col1">From</td>
                            <td scope="col1">To</td>
                            <td scope="col1">Company</td>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>IT Officer</td>
                        <td>Oct 2008</td>
                        <td>Oct 2010</td>
                        <td>Blue Technology</td>
                    </tr>
                    <tr>
                        <td>Senior IT Officer</td>
                        <td>Oct 2010</td>
                        <td>Oct 2012</td>
                        <td>Blue Technology</td>
                    </tr>
                    </tbody>
                </table>
                
                </td>
            </tr>
        </tbody>
        <thead>
	    <tr class="odd">
		    <th scope="col" colspan="4">Volunteering</th>
	    </tr>	
	    </thead>
        <tbody>
            <tr>
                <td colspan="4">
                    <table>
                    <thead>
                        <tr class="odd">
                            <td scope="col1">Position</td>
                            <td scope="col1">From</td>
                            <td scope="col1">To</td>
                            <td scope="col1">Company</td>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>IT Officer</td>
                        <td>Oct 2008</td>
                        <td>Oct 2010</td>
                        <td>Blue Technology</td>
                    </tr>
                    <tr>
                        <td>Senior IT Officer</td>
                        <td>Oct 2010</td>
                        <td>Oct 2012</td>
                        <td>Blue Technology</td>
                    </tr>
                    </tbody>
                </table>
                
                </td>
            </tr>
        </tbody>
        <thead>
        <tr class="odd">
		    <th scope="col" colspan="4">Training</th>
	    </tr>	
	    </thead>
        <tbody>
            <tr>
                <td colspan="4">
                    <table>
                    <thead>
                        <tr class="odd">
                            <td scope="col1">Position</td>
                            <td scope="col1">From</td>
                            <td scope="col1">To</td>
                            <td scope="col1">Company</td>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>IT Officer</td>
                        <td>Oct 2008</td>
                        <td>Oct 2010</td>
                        <td>Blue Technology</td>
                    </tr>
                    <tr>
                        <td>Senior IT Officer</td>
                        <td>Oct 2010</td>
                        <td>Oct 2012</td>
                        <td>Blue Technology</td>
                    </tr>
                    </tbody>
                </table>
                
                </td>
            </tr>
        </tbody>
        
    </table>
</div>
