@{
    Layout="~/shared/layout/_studentlayout.cshtml";
    Page.Title="Admin Page";
}
@section menu{
    <ul id="simple-menu">
        <li><a href="~/admin88/student/default.cshtml"><span>Dashboard</a></li>                
        <li><a href="~/admin88/student/profile.cshtml" class="current"><span>Profile</a></li>
        <li><a href="~/admin88/student/companylists.cshtml"><span>Company</a></li>
        <li><a href="~/admin88/student/support.cshtml"><span>Support</a></li>	 				
    </ul>
}

<div id="header-title">Profile</div>
<div id="box" style="padding: 0;">
<table class="profile-detail" style="width: 100%">
					<tr><th colspan="4">Personal Info</th></tr>
					<tr><td class="td-head" colspan="2">Name</td><td colspan="2">Chan Angkea</td></tr>
                    <tr><td class="td-head"colspan="2">Telephone</td><td colspan="2">012 345 678</td></tr>
                    <tr><td class="td-head"colspan="2">Emergency Contact</td><td colspan="2">098 76 5 432</td></tr>
                    <tr><td class="td-head"colspan="2">Email</td><td colspan="2">aboreak@puthisastra.edu.kh</td></tr>
                    <tr><td class="td-head"colspan="2">Date of Birth</td><td colspan="2">12 June 1990</td></tr>
                    <tr><th class="td-head"colspan="4">Education Info</th></tr>
					<tr><td class="sub-th" colspan="4">University of Puthisastra
                        <tr><td class="td-head"colspan="2">Quatrfication</td><td colspan="2">Bachelor Degree</td></tr>
                        <tr><td class="td-head">From</td><td>2009</td><td class="td-head">To</td><td>Present</td></tr>
                        <tr><td class="td-head"colspan="2">Major</td><td colspan="2">IT (Programming)</td></tr>
                    </tr>
                    <tr><th colspan="4">Employment Experience</th></tr>
					<tr><td class="sub-th" colspan="4">Oppo Technology</td>
                        <tr><td class="td-head" colspan="2">Position</td><td colspan="2">Programmer</td></tr>
                        <tr><td class="td-head" >From</td><td>2009</td><td class="td-head">To</td><td>Present</td></tr>
                        <tr><td class="td-head" colspan="2">Key Achievement</td><td colspan="2">Team work</td></tr>
                    <tr><th colspan="4">Volunteer Experience</th></tr>
					<tr><td class="sub-th" colspan="4">Oppo Technology
                        <tr><td class="td-head" colspan="2">Position</td><td colspan="2">Programmer</td></tr>
                        <tr><td class="td-head">From</td><td>2009</td><td class="td-head">To</td><td>Present</td></tr>
                        <tr><td class="td-head" colspan="2">Key Achievement</td><td colspan="2">Team work</td></tr>
                    </tr>
                    <tr><th>Language</th><th style="border-left: 1px solid #e0e0e0;">Writing</th><th style="border-left: 1px solid #e0e0e0;">Speaking</th><th style="border-left: 1px solid #e0e0e0;">Listening</th></tr>
					<tr><td>English</td><td>Good</td><td>Good</td><td>Execllent</td></tr>
                    <tr><td>French</td><td>Good</td><td>Good</td><td>Execllent</td></tr>
                    <tr><th colspan="4">Other Training & Skills</th></tr>
                    <tr><td class="sub-th" colspan="4">Oppo Technology
                    <tr><td class="td-head">From</td><td>2009</td><td class="td-head">To</td><td>Present</td></tr>
                    <tr><td class="td-head" colspan="2">Skills / Achievement</td><td colspan="2">Team work</td></tr>
                    <tr><th colspan="4">References</th></tr>
					<tr><td class="td-head" colspan="2">Name</td><td colspan="2">Mark Leonard</td></tr>
                    <tr><td class="td-head" colspan="2">Company/Organization</td><td colspan="2">Oppo Technology</td></tr>
                    <tr><td class="td-head" colspan="2">Title</td><td colspan="2">Chief Executive</td></tr>
                    <tr><td class="td-head" colspan="2">Phone</td><td colspan="2">011 555 522</td></tr>
                    <tr><td class="td-head" colspan="2">Email</td><td colspan="2">ab@gmail.com</td></tr>
                </table>
</div>