@{
    Layout="~/shared/layout/_studentlayout.cshtml";
    Page.Title="Admin Page";
}
@section menu{
    <ul id="simple-menu">
        <li><a href="~/admin88/student/default.cshtml"><span>Dashboard</span></a></li>                
        <li><a href="~/admin88/student/profile.cshtml" class="current"><span>Profile</span></a></li>
        <li><a href="~/admin88/student/companylists.cshtml"><span>Company</span></a></li>
        <li><a href="~/admin88/student/support.cshtml"><span>Support</span></a></li>	 				
    </ul>
}

<div>
    <div style="padding: 10px;">
    <h5>Profile</h5>
    <p >UPConnect serves as an online platform which is a centralized place for management, 
        students, and employers to connect with each other in term of employment opportunity and service. 
        This will increase the efficiency and reduce the operating costs for career office.</p>
    </div>
</div>