@{
    Layout="~/shared/layout/_studentlayout.cshtml";
    Page.Title="Admin Page";
}
@section menu{
    <ul id="simple-menu">
        <li><a href="~/admin88/student/default.cshtml"><span>Dashboard</span></a></li>                
        <li><a href="~/admin88/student/profile.cshtml" class="current"><span>Profile</span></a></li>
        <li><a href="~/admin88/student/companylists.cshtml"><span>Company</span></a></li>
        <li><a href="~/admin88/student/support.cshtml"><span>Support</span></a></li>	 				
    </ul>
}

<div id="header-title">Profile</div>
<div id="box" style="padding: 0;">
<ul class="info">
					<li class="Info-Header"><h4 class="Info-Header">Personal Info</h4></li>
					<li class=""><span class="Info-Field">Name</span><span class="Info-Divider"> : </span><span class="Info-Value">Chan Angkea</span></li>
                    <li class=""><span class="Info-Field">Telephone</span><span class="Info-Divider"> : </span><span class="Info-Value">012 345 678</span></li>
                    <li class=""><span class="Info-Field">Emergency Contact</span><span class="Info-Divider"> : </span><span class="Info-Value">098 76 5 432</span></li>
                    <li class=""><span class="Info-Field">Email</span><span class="Info-Divider"> : </span><span class="Info-Value">aboreak@puthisastra.edu.kh</span></li>
                    <li class=""><span class="Info-Field">Date of Birth</span><span class="Info-Divider"> : </span><span class="Info-Value">12 June 1990</span></li>
                    <li class="Info-Header"><h4 class="Info-Header">Education Info</h4></li>
					<li><span class="Info-Field">University of Puthisastra</span><ul>
                        <li class=""><span class="Info-Field">Qualification</span><span class="Info-Divider"> : </span><span class="Info-Value">Bachelor Degree</span></li>
                        <li class=""><span class="Info-Field">From</span><span class="Info-Divider"> : </span><span class="Info-Value">2009</span><span class="Info-Field" style="margin-left: 10px;width: 80px;">To</span><span class="Info-Divider"> : </span><span class="Info-Value">Present</span></li>
                        <li class=""><span class="Info-Field">Major</span><span class="Info-Divider"> : </span><span class="Info-Value">IT (Programming)</span></li>
                    </ul></li>
                    <li class="Info-Header"><h4 class="Info-Header">Employment Experience</h4></li>
					<li><span class="Info-Field">Oppo Technology</span><ul>
                        <li class=""><span class="Info-Field">Position</span><span class="Info-Divider"> : </span><span class="Info-Value">Programmer</span></li>
                        <li class=""><span class="Info-Field">From</span><span class="Info-Divider"> : </span><span class="Info-Value">2009</span><span class="Info-Field" style="margin-left: 10px;width: 80px;">To</span><span class="Info-Divider"> : </span><span class="Info-Value">Present</span></li>
                        <li class=""><span class="Info-Field">Key Achievement</span><span class="Info-Divider"> : </span><span class="Info-Value">Team work</span></li>
                    </ul></li>
                    <li class="Info-Header"><h4 class="Info-Header">Volunteer Experience</h4></li>
					<li><span class="Info-Field">Oppo Technology</span><ul>
                        <li class=""><span class="Info-Field">Position</span><span class="Info-Divider"> : </span><span class="Info-Value">Programmer</span></li>
                        <li class=""><span class="Info-Field">From</span><span class="Info-Divider"> : </span><span class="Info-Value">2009</span><span class="Info-Field" style="margin-left: 10px;width: 80px;">To</span><span class="Info-Divider"> : </span><span class="Info-Value">Present</span></li>
                        <li class=""><span class="Info-Field">Key Achievement</span><span class="Info-Divider"> : </span><span class="Info-Value">Team work</span></li>
                    </ul></li>
                    <li class="Info-Header"><h4 class="Info-Header">Language</h4></li>
					<li class=""><span class="Info-Field">English</span><span class="Info-Divider"> : </span><span class="Info-Value">Excellent</span></li>
                    <li class=""><span class="Info-Field">Khmer</span><span class="Info-Divider"> : </span><span class="Info-Value">Mother Tongue</span></li>
                    <li class="Info-Header"><h4 class="Info-Header">Other Training & Skills</h4></li>
                     <li class="Info-Header"><h4 class="Info-Header">References</h4></li>
					<li class=""><span class="Info-Field">Name</span><span class="Info-Divider"> : </span><span class="Info-Value">Mark Leonard</span></li>
                    <li class=""><span class="Info-Field">Company/Organization</span><span class="Info-Divider"> : </span><span class="Info-Value">Oppo Technology</span></li>
                    <li class=""><span class="Info-Field">Title</span><span class="Info-Divider"> : </span><span class="Info-Value">Chief Executive</span></li>
                    <li class=""><span class="Info-Field">Phone</span><span class="Info-Divider"> : </span><span class="Info-Value">011 555 522</span></li>
                    <li class=""><span class="Info-Field">Email</span><span class="Info-Divider"> : </span><span class="Info-Value">ab@gmail.com</span></li>
                </ul>
</div>