@{
    Layout="~/shared/layout/_studentlayout.cshtml";
    Page.Title="Admin Page";
}
@section menu{
    <ul id="simple-menu">
        <li><a href="~/admin88/student/default.cshtml"><span>Dashboard</span></a></li>                
        <li><a href="~/admin88/student/profile.cshtml" class="current"><span>Profile</span></a></li>
        <li><a href="~/admin88/student/companylists.cshtml"><span>Company</span></a></li>
        <li><a href="~/admin88/student/support.cshtml"><span>Support</span></a></li>	 				
    </ul>
}
<div id="header-title">Volunteer Experience</div>
                    <table style="width: 100%;"><tbody>
                        <tr>
                            <th style="width: 25px;"></th>
                            <th scope="Row">Name</th>
                            <th scope="Row">Company/Organization</th>
                            <th scope="Row">Title</th>
                            <th scope="Row">Phone</th>
                            <th scope="Row">Email</th>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Mark Leonard</td>
                            <td>Oppo Technology</td>
                            <td>Chief Executive</td>
                            <td>011 555 522</td>
                            <td>ab@gmail.com</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Mark Leonard</td>
                            <td>Oppo Technology</td>
                            <td>Chief Executive</td>
                            <td>011 555 522</td>
                            <td>ab@gmail.com</td>
                        </tr>
                    </tbody></table>