@{
    Layout="~/shared/layout/_studentlayout.cshtml";
    Page.Title="Admin Page";
}
@section menu{
    <ul id="simple-menu">
        <li><a href="~/admin88/student/default.cshtml"><span>Dashboard</span></a></li>                
        <li><a href="~/admin88/student/profile.cshtml"><span>Profile</span></a></li>
        <li><a href="~/admin88/student/companylists.cshtml"><span>Company</span></a></li>
        <li><a href="~/admin88/student/support.cshtml" class="current"><span>Support</span></a></li>	 				
    </ul>
}
<div id="header-title" style="overflow: auto;">
    <span class="section-title">Support</span>
    <span class="section-control">
        <a href="#" class="button">Ask!</a>
    </span>
</div>
<table>
    <tbody>
        <tr>
            <td>If you have any question type it below and ask!<textarea rows="4" cols="100%"></textarea><br/>
            or you can read our FAQs below to find out!</td>
        </tr>
        <tr>
            <td>
<h2>FAQs</h2>
<p><strong>How can I see a complete listing of all jobs posted to the site?</strong></p>
<p><strong></strong>To see a complete listing of all jobs click on <a href="http://www.nonprofitjobs.activistjobboard.com/" target="_blank">Search Jobs</a>, then on the search page, click on the <a href="http://www.nonprofitjobs.activistjobboard.com/search-results-jobs/?action=search&amp;listing_type%5Bequal%5D=Job&amp;keywords%5Ball_words%5D=&amp;JobCategory%5Bmulti_like%5D%5B%5D=&amp;City%5Bequal%5D=&amp;State%5Bmulti_like%5D%5B%5D=" target="_blank">Search</a>&nbsp;button to see a list of all jobs on the site.<br>
<a href="http://www.nonprofitjobs.activistjobboard.com/search-results-jobs/?action=search&amp;listing_type%5Bequal%5D=Job&amp;keywords%5Ball_words%5D=&amp;JobCategory%5Bmulti_like%5D%5B%5D=&amp;City%5Bequal%5D=&amp;State%5Bmulti_like%5D%5B%5D=" target="_blank">Browse jobs now!</a></p>
<p><strong>How do I search for jobs online?</strong></p>
<p><strong></strong>To search you will need to click on <a href="http://www.nonprofitjobs.activistjobboard.com/" target="_blank">Search Jobs</a>. Then on the search page, click on the <a href="http://www.nonprofitjobs.activistjobboard.com/search-results-jobs/?action=search&amp;listing_type%5Bequal%5D=Job&amp;keywords%5Ball_words%5D=&amp;JobCategory%5Bmulti_like%5D%5B%5D=&amp;City%5Bequal%5D=&amp;State%5Bmulti_like%5D%5B%5D=" target="_blank">Search</a>&nbsp;button to see a list of all jobs on the site. In addition, you can use our advanced search features by selecting one or more of the search criteria: category, state/region, status, and salary. You can also search by entering job information keywords and then click on the “Search” button.</p>
<p><strong>How do I apply for a job listed on the AJB Job Board?</strong></p>
<p><strong></strong>Each job has instructions for how the employer who posted the job wants you to apply. The application instructions are listed at the bottom of the job listing under the “Apply” section.</p>
<p><strong>How do I search for internships?</strong></p>
<p><strong></strong>Internship opportunities can be found <a href="http://www.activistjobboard.com/directory/browse-categories/?category_id=2/internships" target="_blank">here</a> or you can also go to <a href="http://www.activistjobboard.com/directory/browse-categories/?category_id=2/internships/" target="_blank">http://www.activistjobboard.com/directory/browse-categories/?category_id=2/internships</a></p>
<p><strong>How can my resume stand out?</strong></p>
<p><strong></strong>Resume writing services are available upon request. If your resume is well written and you’re looking to get in front of more hiring managers and decision makers, sign up for a <a href="http://www.nonprofitjobs.activistjobboard.com/jobseeker-products/" target="_blank">“Priority Resume Posting”</a></p>
<p><strong>How can I be featured as “Making a Difference?”</strong></p>
<p><strong></strong>We’d love for you to tell your story. Email us at <a href="info@activistjobboard.com" target="_blank">info@activistjobboard.com</a> and in the subject line write “I want to be featured – Making a Difference”. Please include a high resolution photo of yourself or group and a bio or what you’re doing to make a difference.</p>
<p><strong>What is a Job Alert email?</strong></p>
<p><strong></strong>If you save your job search as a Job Alert email, you will receive daily or weekly emails containing links to new jobs matching your search criteria. You may set up as many Job Alerts as you like and you may cancel them at any time.</p>
<p><strong>How do I create job alerts?</strong></p>
<p><strong></strong>Job Alerts can be created and managed via “Job Alerts” menu of My Account. So go to “My Account” » “Job Alerts”, the click on “Add new job alert” and fill out the information that is appropriate for the type of jobs you want to be alerted on.<br>
Also you can save a certain search as a job alert by clicking on the “Save Job Alert” link on the Job Search Results page.</p>
<p><strong>What is RSS?</strong></p>
<p><strong></strong>RSS (Really Simple Syndication) is a way to subscribe to a website and have new content delivered to you. In order to use RSS, you need an RSS reader. Internet Explorer, Firefox, and other web browsers have RSS readers built-in. There are also online RSS readers like Bloglines or Google Reader, and downloadable programs like NewsNetWire that you can use to view RSS feeds.</p>
<p><strong>I lost my login and/or password how can I get it back?</strong></p>
<p>For lost or forgotten password, Click <a href="http://www.nonprofitjobs.activistjobboard.com/password-recovery/" target="_blank">here</a> and enter your&nbsp;account’s&nbsp;email&nbsp;address or go to <a href="http://www.nonprofitjobs.activistjobboard.com/password-recovery/">http://www.nonprofitjobs.activistjobboard.com/password-recovery</a>.</p>
            </td>
        </tr>
    </tbody>
</table>