@{
    Layout="~/shared/layout/_studentlayout.cshtml";
    Page.Title="Admin Page";
}
@section menu{
    <ul id="simple-menu">
        <li><a href="~/admin88/student/default.cshtml"><span>Dashboard</span></a></li>                
        <li><a href="~/admin88/student/profile.cshtml" class="current"><span>Profile</span></a></li>
        <li><a href="~/admin88/student/companylists.cshtml"><span>Company</span></a></li>
        <li><a href="~/admin88/student/support.cshtml"><span>Support</span></a></li>	 				
    </ul>
}
<div id="header-title" style="overflow: auto;">
    <span class="section-title">Other Training & Skill</span>
    <span class="section-control">
    <a href="edit/training.cshtml" class="button">Add</a></span>
</div>
<table style="width: 100%;"><tbody>
                        <tr>
                            <th scope="Row">Institute</th>
                            <th scope="Row">Skills / Achievement</th>
                            <th scope="Row">From</th>
                            <th scope="Row">To</th>
                            <th style="width: 85px;"></th>
                        </tr>
                        <tr>
                            <td>TK Technology Institue</td>
                            <td>Network Administration</td>
                            <td>2002</td>
                            <td>2004</td>
                            <td><a href="#" class="edit">Edit</a> | <a href="#" class="">Delete</a></td>
                        </tr>
                        <tr>
                            <td>DIY Training Center</td>
                            <td>Database Administration</td>
                            <td>2000</td>
                            <td>2002</td>
                            <td><a href="#" class="edit">Edit</a> | <a href="#" class="">Delete</a></td>
                        </tr>
                    </tbody>
</table>