@helper AccountSummary() 
{ 
    <text> 
        <div style="text-align: right">
        Welcome <a style="text-decoration: none" href="@Href("~/Account/Login")">chhay_ittechgjetrethgjgj@hotmail.com</a> 
        <br>
            <a style="text-decoration: none" href="@Href("~/NewJobs")"><span class="navbar-new">99</span>HotJobs&nbsp;&nbsp;&nbsp;</a> |
            <a style="text-decoration: none" href="@Href("~/Account/LogIn")">LogOut</a> 
        </div>
    </text> 
} 

