@{
    Layout="~/shared/layout/_adminlayout.cshtml";
    Page.Title="Admin Page";
}

@section menu{
    <ul id="simple-menu">
        <li><a href="~/admin88/admin/default.cshtml" class="current"><span>Dashboard</span></a></li>                
        <li><a href="~/admin88/admin/profile.cshtml"><span>Profile</span></a></li>
        <li><a href="~/admin88/admin/employer.cshtml"><span>Employer</span></a></li>
        <li><a href="~/admin88/admin/student.cshtml"><span>Student</span></a></li>
        <li><a href="~/admin88/admin/membership.cshtml"><span>Membership</span></a></li>
        <li><a href="~/admin88/admin/help.cshtml"><span>Help</span></a></li>	 				
    </ul>
}



