@{
    Layout="~/shared/layout/_adminlayout.cshtml";
    Page.Title="Register Page";  
}

@section menu{
    <ul id="simple-menu">
        <li><a href="~/admin88/admin/default.cshtml"><span>Dashboard</span></a></li>                
        <li><a href="~/admin88/admin/employers.cshtml"><span>Employers</span></a></li>
        <li><a href="~/admin88/admin/students.cshtml"><span>Students</span></a></li>
        <li><a href="~/admin88/admin/membership.cshtml"><span>Membership</span></a></li>
        <li><a href="~/admin88/admin/help.cshtml"><span>Help</span></a></li>	 				
    </ul>
}

@RenderPage("~/shared/partial/_uploadimage.cshtml")
