@{
    Layout="~/shared/layout/_adminlayout.cshtml";
    Page.Title="Admin Page";
}

@section head{
    <link href="~/admin88/css/employer-style.css" rel="stylesheet"/>
}

@section menu{
    <ul id="simple-menu">
        <li><a href="~/admin88/employer/default.cshtml" class="current"><span>Dashboard</span></a></li>                
        <li><a href="~/admin88/employer/profile.cshtml"><span>Profile</span></a></li>
        <li><a href="~/admin88/employer/studentlists.cshtml"><span>Student</span></a></li>
        <li><a href="~/admin88/employer/support.cshtml"><span>Support</span></a></li>	   				
    </ul>
}

<div class="toolbars">
    <form>
        <input id="txtSerch" type="text" placeholder="search..." style="float: left; width: 200px;margin-right: 2px;"/>       
        <input id="btnSearch" class="btn" type="submit" value="Search" style="float: left;"/>
        <input id="btnSearch" class="btn" type="submit" value="Publish Job" />
        <input id="btnSearch" class="btn" type="submit" value="Add Job"/>
    </form>
</div>
<div id="header-title">Job Announcement</div>
<div>
    <table rules="all">
        <tr class="row-header">
            <td>
                Job Title</td>
            <td class="col-tbl">
                Location</td>
            <td class="col-tbl">
                Publish Date</td>
            <td class="col-tbl">
                Closing Date</td>
            <td class="col-tbl">
                Tools</td>
        </tr>
        <tr>
            <td class="fullname">
                Software Developer and IT Trainee
            </td>
            <td class="col-tbl">
                Phnom Penh
            </td>
            <td class="col-tbl">
                27-03-2014
            </td>
            <td class="col-tbl">
                30-04-2014</td>
            <td class="col-tbl">
                <a href="">Edit</a> | <a href="">Delete</a></td>
        </tr>
        <tr>
            <td class="fullname">
                IT Assistant 
            </td>
            <td class="col-tbl">
                Phnom Penh
            </td>
            <td class="col-tbl">
                27-03-2014
            </td>
            <td class="col-tbl">
                15-05-2014</td>
            <td class="col-tbl">
                <a href="">Edit</a> | <a href="">Delete</a></td>
        </tr>
        <tr>
            <td class="fullname">
                IT Programmer 
            </td>
            <td class="col-tbl">
                Phnom Penh
            </td>
            <td class="col-tbl">
                15-02-2014
            </td>
            <td class="col-tbl">
                27-03-2014</td>
            <td class="col-tbl">
                <a href="">Edit</a> | <a href="">Delete</a></td>
        </tr>
        <tr>
            <td class="fullname">
                Database & Programming 
            </td>
            <td class="col-tbl">
                Phnom Penh
            </td>
            <td class="col-tbl">
                15-02-2014
            </td>
            <td class="col-tbl">
                27-03-2014</td>
            <td class="col-tbl">
                <a href="">Edit</a> | <a href="">Delete</a></td>
        </tr>
        <tr>
            <td class="fullname">
                Administration & Accounts Officer and Career
            </td>
            <td class="col-tbl">
                Phnom Penh
            </td>
            <td class="col-tbl">
                15-02-2014
            </td>
            <td class="col-tbl">
                27-03-2014</td>
            <td class="col-tbl">
                <a href="">Edit</a> | <a href="">Delete</a></td>
        </tr>
        <tr>
            <td class="fullname">
                Employment Training Program Coordinator 
            </td>
            <td class="col-tbl">
                Phnom Penh
            </td>
            <td class="col-tbl">
                15-02-2014
            </td>
            <td class="col-tbl">
                27-03-2014</td>
            <td class="col-tbl">
                <a href="">Edit</a> | <a href="">Delete</a></td>
        </tr>
        <tr>
            <td class="fullname">
                Accountant 
            </td>
            <td class="col-tbl">
                Phnom Penh
            </td>
            <td class="col-tbl">
                15-02-2014
            </td>
            <td class="col-tbl">
                27-03-2014</td>
            <td class="col-tbl">
                <a href="">Edit</a> | <a href="">Delete</a></td>
        </tr><tr>
            <td class="fullname">
                Field Facilitator 
            </td>
            <td class="col-tbl">
                Phnom Penh
            </td>
            <td class="col-tbl">
                15-02-2014
            </td>
            <td class="col-tbl">
                27-03-2014</td>
            <td class="col-tbl">
                <a href="">Edit</a> | <a href="">Delete</a></td>
        </tr>
        <tr>
            <td class="fullname">
                Service Manager 
            </td>
            <td class="col-tbl">
                Phnom Penh
            </td>
            <td class="col-tbl">
                15-02-2014
            </td>
            <td class="col-tbl">
                27-03-2014</td>
            <td class="col-tbl">
                <a href="">Edit</a> | <a href="">Delete</a></td>
        </tr>
        <tr>
            <td class="fullname">
                Medical Representative 
            </td>
            <td class="col-tbl">
                Phnom Penh
            </td>
            <td class="col-tbl">
                15-02-2014
            </td>
            <td class="col-tbl">
                27-03-2014</td>
            <td class="col-tbl">
                <a href="">Edit</a> | <a href="">Delete</a></td>
        </tr>
        <tr>
            <td class="fullname">
                Branch Manager 
            </td>
            <td class="col-tbl">
                Phnom Penh
            </td>
            <td class="col-tbl">
                15-02-2014
            </td>
            <td class="col-tbl">
                27-03-2014</td>
            <td class="col-tbl">
                <a href="">Edit</a> | <a href="">Delete</a></td>
        </tr>
        <tr>
            <td class="fullname">
                Area Sales Manager-Consumer 
            </td>
            <td class="col-tbl">
                Phnom Penh
            </td>
            <td class="col-tbl">
                15-02-2014
            </td>
            <td class="col-tbl">
                27-03-2014</td>
            <td class="col-tbl">
                <a href="">Edit</a> | <a href="">Delete</a></td>
        </tr>
    </table>
</div>
<div class="pagination">  

    <a href="#"><div class="btnPre"></div></a>
    <div class="txtPageNum">1 2 3 4 5</div>
    <a href="#"><div class="btnNext"></div></a>

    <select id="SelectPageIndex" style="float: right;margin-right: 5px;">
        <option>1</option>
        <option>2</option>
        <option>3</option>
    </select>
    <span style="float: right;margin-right: 10px;">Page Size:</span>
</div>
