@{
    Layout="~/shared/layout/_adminlayout.cshtml";
    Page.Title="Admin Page";
}

@section head{
    <link href="~/admin88/css/employer-style.css" rel="stylesheet"/>
}

@section menu{
    <ul id="simple-menu">
        <li><a href="~/admin88/employer/default.cshtml" class="current"><span>Dashboard</span></a></li>                
        <li><a href="~/admin88/employer/profile.cshtml"><span>Profile</span></a></li>
        <li><a href="~/admin88/employer/studentlists.cshtml"><span>Student</span></a></li>
        <li><a href="~/admin88/employer/support.cshtml"><span>Support</span></a></li>	   				
    </ul>
}

<div class="toolbars">
    <form>
        <input id="txtSerch" type="text" placeholder="search..." style="float: left; width: 200px;margin-right: 2px;"/>       
        <input id="btnSearch" class="btn" type="submit" value="Search" style="float: left;"/>
        <input id="btnSearch" class="btn" type="submit" value="Cancel" />
        <input id="btnSearch" class="btn" type="submit" value="Save"/>
    </form>
</div>
<div id="header-title">Job Register Form</div>
<div id="box" class="frm-job-registor" style="font-size: 10pt;">
    <form>
        <div style="float: left;width: 50%;">
            <ul style="width: 100px;">
                <li>Job Title</li>
                <li>Location</li>
                <li>Language</li>
                <li>Salary</li>
                <li>Job Term</li>
                <li>Job Function</li>                
                <li>Requriment</li>
            </ul>
            <ul style="width: 170px;">
                <li><input id="txtJobTitle" type="text" placeholder="input job title..."/></li>
                <li>
                    <select style="width: 162px;">
                        <option>N/A</option>
                        <option>Phnom Penh</option>
                        <option>Pursat</option>
                    </select>
                </li>
                <li><input id="txtLanguage" type="text" placeholder="input language..."/></li>
                <li><input id="txtSalary" type="text" placeholder="input salary..."/></li>
                <li><input id="txtJobTerm" type="text" placeholder="input job term..."/></li>
                <li>
                    <select style="width: 162px;">
                        <option>N/A</option>
                        <option>Officer</option>
                        <option>Supervisor</option>
                        <option>Manager</option>
                    </select>
                </li>
                <li>
                    <textarea id="txtRequriement" placeholder="input job requriement..."></textarea>
                </li>
            </ul>
            
        </div>
        <div style="float: left;width: 50%;">
            <ul style="width: 100px;">
                <li>Job Qualification</li>
                <li>Age</li>
                <li>Gender</li>
                <li>Industry</li>
                <li>Experience</li>                                
                <li>Job Category</li>              
                <li>Description</li>  
            </ul>
            <ul style="width: 170px;">
                <li>
                    <select style="width: 162px;">
                        <option>N/A</option>
                        <option>Hight School</option>
                        <option>Bachelor</option>
                        <option>Master</option>
                        <option>Doctor</option>
                    </select>
                </li>
                <li><input id="txtAge" type="text" placeholder="input age..."/></li>
                <li>
                    <select style="width: 162px;">
                        <option>N/A</option>
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </li>
                <li>
                    <select style="width: 162px;">
                        <option>N/A</option>
                        <option>Industry 1</option>
                        <option>Industry 2</option>
                        <option>Industry 3</option>
                    </select>
                </li>
                <li><input id="txtExp" type="text" placeholder="input experience..."/></li>                                
                <li>
                    <select style="width: 162px;">
                        <option>N/A</option>
                        <option>Service</option>
                        <option>Accounting</option>                        
                        <option>Administration</option>
                        <option>. . . . . . . . . . .</option>
                    </select>
                </li>
                <li><textarea id="txtDescription" placeholder="input job description..."></textarea></li>
            </ul>
        </div>
    </form>
</div>
