@{
    Layout="~/shared/layout/_adminlayout.cshtml";
    Page.Title="Admin Page";
}

@section head{
    <link href="~/admin88/css/employer-style.css" rel="stylesheet"/>
}

@section menu{
    <ul id="simple-menu">
        <li><a href="~/admin88/employer/default.cshtml" class="current"><span>Dashboard</span></a></li>                
        <li><a href="~/admin88/employer/profile.cshtml"><span>Profile</span></a></li>
        <li><a href="~/admin88/employer/studentlists.cshtml"><span>Student</span></a></li>
        <li><a href="~/admin88/employer/support.cshtml"><span>Support</span></a></li>	   				
    </ul>
}

<div class="toolbars">
    <form>
        <input id="txtSerch" type="text" placeholder="search..." style="float: left; width: 200px;margin-right: 2px;"/>       
        <input id="btnSearch" class="btn" type="submit" value="Search" style="float: left;"/>
    </form>
</div>
<div id="header-title">Student List</div>
<div>
    <table rules="all">
        <tr class="row-header">
            <td>
                Full Name</td>
            <td class="col-tbl">
                Date of Birth</td>
            <td>
                Phone Line 1</td>
            <td>
                Phone Line 2</td>
            <td>
                E-mail</td>
        </tr>
        
        <tr>            
            <td class="fullname">
                <a href="#">PAN PAGNAVORTH</a>
            </td>
            <td class="col-tbl">
                05-08-1989
            </td>
            <td class="col-tbl">
                090854777
            </td>
            <td class="col-tbl">
                090854555</td>
            <td class="email">
                pagnagnavorth@puthisastra.edu.kh</td>
                
        </tr>        
        <tr>
            <td class="fullname">
                <a href="#">NHEL SOKNIRDEY</a>
            </td>
            <td class="col-tbl">
                08-04-1988
            </td>
            <td class="col-tbl">
                012775244
            </td>
            <td class="col-tbl">
                012775244</td>
            <td class="email">
                nsoknirdey@puthisastra.edu.kh</td>
        </tr>
        <tr>
            <td class="fullname">
                <a href="#">SOUS SOPHANNA</a>
            </td>
            <td class="col-tbl">
                11-12-1985
            </td>
            <td class="col-tbl">
                016666823
            </td>
            <td class="col-tbl">
                016666823</td>
            <td class="email">
                ssophanna@puthisastra.edu.kh</td>
        </tr>
        <tr>
            <td class="fullname">
                <a href="#">LOENG SOCHEATA</a>
            </td>
            <td class="col-tbl">
                02-02-1989
            </td>
            <td class="col-tbl">
                092531989
            </td>
            <td class="col-tbl">
                092531989</td>
            <td class="email">
                lsocheata@puthisastra.edu.kh</td>
        </tr>
        <tr>
            <td class="fullname">
                <a href="#">PHORN SOKANHA</a>
            </td>
            <td class="col-tbl">
                04-04-1989
            </td>
            <td class="col-tbl">
                010471123
            </td>
            <td class="col-tbl">
                010471123</td>
            <td class="email">
                psokanha@puthisastra.edu.kh</td>
        </tr>
        <tr>
            <td class="fullname">
                <a href="#">SAMRIT SOCHEAT</a>
            </td>
            <td class="col-tbl">
                08-06-1994
            </td>
            <td class="col-tbl">
                070794482
            </td>
            <td class="col-tbl">
                070794482</td>
            <td class="email">
                ssocheat@puthisastra.edu.kh</td>
        </tr>
        <tr>
            <td class="fullname">
                <a href="#">TRY KEOM LEANG</a>
            </td>
            <td class="col-tbl">
                02-10-1990
            </td>
            <td class="col-tbl">
                012602670
            </td>
            <td class="col-tbl">
                012602670</td>
            <td class="email">
                tkeomleang@puthisastra.edu.kh</td>
        </tr>
        <tr>
            <td class="fullname">
                <a href="#">SENG SOPHEA</a>
            </td>
            <td class="col-tbl">
                24-10-1994
            </td>
            <td class="col-tbl">
                092126212
            </td>
            <td class="col-tbl">
                092126212</td>
            <td class="email">
                ssophea@puthisastra.edu.kh</td>
        </tr>
        <tr>
            <td class="fullname">
                <a href="#">TANG MOUY CHHENG</a>
            </td>
            <td class="col-tbl">
                03-02-1994
            </td>
            <td class="col-tbl">
                069407221
            </td>
            <td class="col-tbl">
                069407221</td>
            <td class="email">
                tmouychheng@puthisastra.edu.kh</td>
        </tr>
        <tr>
            <td class="fullname">
                <a href="#">LIM SEREYLUCH</a>
            </td>
            <td class="col-tbl">
                06-08-1995
            </td>
            <td class="col-tbl">
                086292264
            </td>
            <td class="col-tbl">
                086292264</td>
            <td class="email">
                lsereyluch@puthisastra.edu.kh</td>
        </tr>
    </table>
</div>
<div class="pagination">  

    <a href="#"><div class="btnPre"></div></a>
    <div class="txtPageNum">1 2 3 4 5</div>
    <a href="#"><div class="btnNext"></div></a>

    <select id="SelectPageIndex" style="float: right;margin-right: 5px;">
        <option>1</option>
        <option>2</option>
        <option>3</option>
    </select>
    <span style="float: right;margin-right: 10px;">Page Size:</span>
</div>
