@{ 
    var email = ""; 
    if(IsPost) 
    { 
        email = Request["email"]; 
        // Validation 
        if (email.IsEmpty()) { 
            ModelState.AddError("email", "Email Address is required."); 
        } 
    } 
} 
<form method="post"> 
    <div class="toolbar">
        <input class="btn" type="submit" tabindex="5" value="Reset Password" /> 
    </div>
    <div class="form-title">Forgotten Password</div>
    <div class="form">
        <table>
            <tr>
                <td colspan="3">Please enter your registered email address to be sent a password reset link:</td>
            </tr>
            <tr>
                <td>@Html.Label("Email Address: ", "email")</td>
                <td>@Html.TextBox("email", email,new{placeholder="email@google.com"}) </td>
                <td>@Html.ValidationMessage("email") </td>
            </tr>
        </table>
    </div>
</form> 