<style type="text/css">

 
    #help-list ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
 
    #help-list li {
      font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
      border-bottom: 1px solid #ccc;
    }
 
    #help-list li:last-child {
      border: none;
    }
 
    #help-list li a {
      text-decoration: none;
      color: #000;
      display: block;
      width: 100%;
 
      -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
      -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
      -o-transition: font-size 0.3s ease, background-color 0.3s ease;
      -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
      transition: font-size 0.3s ease, background-color 0.3s ease;
    }
 
    #help-list li a:hover {
      background: #f6f6f6;
    }
</style>

<div style="overflow: auto;border: solid 1px #291670;border-top-left-radius: 3px;
         border-top-right-radius: 3px;
         -moz-border-radius-topleft: 3px;
         -moz-border-radius-topright: 3px;
         -webkit-border-top-right-radius: 3px;
         -webkit-border-top-left-radius: 3px;">   
    <div style="background-color: #291670;
         padding: 3px;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#291670), to(#4627b9));
        background-image: -webkit-linear-gradient(top, #291670, #4627b9);
        background-image:    -moz-linear-gradient(top, #291670, #4627b9);
        background-image:     -ms-linear-gradient(top, #291670, #4627b9);
        background-image:      -o-linear-gradient(top, #291670, #4627b9);
        background-image:         linear-gradient(top, #291670, #4627b9);
        -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
        -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
        box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
        border-top: none;
        text-shadow: 0 1px 0 rgba(255,255,255,.5); 
        border-bottom: solid 1px gray;
         ">
        <span style="color: white">UPConnect Help</span>
    </div>
    <div>
        <div id="help-list" style="float: left;width: 20%;padding: 10px;">
              
              <ul>
                <li><a href="#AboutUpConnect">About UPConnect</a></li>
                <li><a href="#ContactUs">Contact Us</a></li>
                <li><a href="#AboutUs">About Us</a></li>
              </ul>
        </div>
        <div style="float: left;padding-left: 10px;width: 75%;border-left: solid  1px gray">
            <h3 id="AboutUpConnect">About UPConnect</h3>
            <p>
                UP Connect serves as an online platform which is a centralized place for management, students, 
                and employers to connect with each other in term of employment opportunity and service. 
                This will increase the efficiency and reduce the operating costs for career office.
            </p>
            <h3 id="ContactUs">Contact Us</h3>
            <p>
	            <strong>University of Puthisastra</strong><br># 55, Street 180-184, Sangkat Boeung Raing, Khan Daun Penh, Phnom Penh, Cambodia<br>Tel: +855 (0)23 221 624 / 23 220 476<br>E-mail:<a href="mailto:info@puthisastra.edu.kh">info@puthisastra.edu.kh</a>
            </p>    
            <p>
                <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.kh/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=University+of+Puthisastra&amp;aq=&amp;sll=11.579364,104.881647&amp;sspn=0.397547,0.676346&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;ll=11.562649,104.920725&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com.kh/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=University+of+Puthisastra&amp;aq=&amp;sll=11.579364,104.881647&amp;sspn=0.397547,0.676346&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;ll=11.562649,104.920725&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
            </p>
            
            <h3 id="AboutUs">About Us</h3>
            Vision
            <p>It is the vision of UP to provide knowledge and experience-based education that will enable our students to become leaders. UP is committed to being at the forefront of knowledge and best practices. Our students are encouraged to lead a process of creativity and innovation that will energize and transform their community for a better future.</p>
            Mission
            <p>It is the mission of UP to create and transfer knowledge, increase capacity to learn, and provide an opportunity to realize ones' full potential. Through experience-based education, research, and sharing with national and international partners, we aim to produce qualified and professional graduates, imbued with the love of learning.</p>

        </div>
    </div>
</div>