<style type="text/css">
    .picture-box{
        width: 184px;
    }
    .picture{
        padding: 4px;
        -webkit-box-shadow: 1px 2px 3px 0px rgba(163,163,163,1);
        -moz-box-shadow: 1px 2px 3px 0px rgba(163,163,163,1);
        box-shadow: 1px 2px 3px 0px rgba(163,163,163,1);
        height: 185px;
    }
    .picture-title{
        color: #000000;
        padding: 4px;
        text-align: center;
        margin-top: -38px;
        overflow:hidden;
        font-family: "Lato", Helvetica, Arial, sans-serif;
        font-size: 12px;
        height: 37px;
    }
    .upload-btn{
        width: 184px;
    }
    
</style>

<div class="picture-box">
    <div class="picture">
        <img width="174px" height="184px" alt="picture profile" src="~/admin88/images/profile/user-profile-pic.jpg"/>
    </div>
    <div class="picture-title">Picture Name </div>
    <input class="upload-btn" type="submit" value="Change Profile Picture" />
</div>

