<section id="slideshow" style="float: left;">
		<a class="play_commands pause" href="#sl_pause" title="Maintain paused">Pause</a>
		<a class="play_commands play" href="#sl_play" title="Play the animation">Play</a>
		
		<div class="container">
			<div class="c_slider"></div>
			<div class="slider">
				<figure>
					<img src="~/shared/images/slideshow/1.jpg" alt="" width="313px"/>
					<figcaption>The mirror of soul</figcaption>
				</figure><!--
				--><figure>
					<img src="~/shared/images/slideshow/2.jpg" alt="" width="313px"/>
					<figcaption>Let's cross that bridge when we come to it</figcaption>
				</figure><!--
				--><figure>
					<img src="~/shared/images/slideshow/3.jpg" alt="" width="313px"/>
					<figcaption>Sushi<em>(do)</em> time</figcaption>
				</figure><!--
				--><figure>
					<img src="~/shared/images/slideshow/4.jpg" alt="" width="313px"/>
					<figcaption>Waking Life</figcaption>
				</figure>
			</div>
		</div>
		<span id="timeline"></span>	
</section>