body {
}

.toolbars
{
    background-color: #d8e4f3;
    border: 1px solid #99bce8;
    padding: 5px;
    height: 32px;        
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 15px;
}

.toolbars input[type="submit"]
{
    background-color: #291670;
    border: 1px solid #808080;
    color: #fff;
}


.toolbars input[type="submit"]:hover
{
    background-color: #d7b570;
    border: 1px solid #d7b570;
    color: #fff;    
}

table
{
    width: 100%;
    font-family: Arial;
    font-size: 10pt;
    border: 1px dotted #dedede;        
}

table .row-header
{
    text-align: center;
    font-weight: bold; 
    background-color: #e8e9eb;
    background: url(../images/grid-header.png) left bottom repeat-x;
    color: #3e3e3e; 
      
}

.col-tbl
{
    width: 100px;
    text-align: center;
}

.pagination
{
    height: 40px;
    background-color: #d8e4f3;
    border: 1px solid #99bce8;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-top: 15px;
    line-height: 40px;
    padding-left: 10px;
    font-size: 10pt;
}

.pagination select
{
    width: 100px;margin-right: 20px;height: 27px;margin-top: 7px;
}