body {
}

.toolbars
{
    background-color: #37257b;
    border: 1px solid #291670;
    padding: 5px;
    height: 32px;        
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 15px;
}

.btn
{
    width: 80px;
    margin-left: 5px;
}

.toolbars input[type="submit"]
{
    background-color: #291670;
    border: 1px solid #808080;
    color: #fff;
}


.toolbars input[type="submit"]:hover
{
    background-color: #d7b570;
    border: 1px solid #d7b570;
    color: #fff;    
}

table
{
    width: 100%;
    font-family: Arial;
    font-size: 10pt;
    border: 1px dotted #dedede;        
}

table .row-header
{
    text-align: center;
    font-weight: bold; 
    background-color: #e8e9eb;
    background: url(../images/grid-header.png) left bottom repeat-x;
    color: #3e3e3e; 
      
}

.col-tbl
{
    width: 100px;
    text-align: center;
}

.fullname
{
    padding-left: 10px;    
}

tr:hover
{
    background-color: #d7b570;
}

.fullname a
{
    color: #666;
}

.fullname a:hover
{
    color: #291670;
}

.email
{
    width: 220px;
    padding-left: 10px;
}



.pagination
{
    height: 40px;
    background-color: #37257b;
    border: 1px solid #291670;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-top: 15px;
    line-height: 40px;
    padding-left: 10px;
    font-size: 10pt;
    color: #fff;
}

.pagination select
{
    width: 100px;margin-right: 20px;height: 27px;margin-top: 7px;
}

.frm-job-registor ul
{
    float: left;width: 100px;list-style: none;
}

.btnPre
{
    float: left;height: 30px;width: 30px;background-color: #808080;margin-top: 4px;line-height: 30px;text-align: center;background: url('../images/btn_left.png');margin-right: 5px;
}

.btnNext
{
    float: left;height: 30px;width: 30px;background-color: #808080;margin-top: 4px;margin-right: 5px;line-height: 30px;text-align: center;background: url('../images/btn_right.png');margin-left: 5px;
}

.txtPageNum
{
    float: left;height: 22px;width: 100px;color: #000;background-color: #fff;margin-top: 8px;line-height: 22px;text-align: center;
    border-radius: 15px;
}

.frm-job-registor li
{
    height: 35px;
    line-height: 35px;
}