
.toolbar
{
    background: url(~/admin88/images/nav-bg-gold.png) left bottom repeat-x;
    font-size: 13px;
    color: #5d5d5d;
    font-weight: bold;
    line-height: 20px;
    border: 1px solid #dedede;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; 
    overflow: auto;
}

/*------------------------Submit Button------------------------------*/
.toolbar input[type="submit"]
{
    display: block;
    float: right;
    border: none;
    padding: 5px;
    border: 1px solid #dedede;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #f3f3f3;
    color: black;
}

.toolbar input[type="submit"]:hover
{
    background-color: #d7b570;
    border: 1px solid #d7b570;
    
}

/*------------------------Submit Button------------------------------*/

/*------------------------Control In Form------------------------------*/
input[type="submit"]
{
    display: block;
    float: right;
    border: none;
    padding: 5px;
    border: 1px solid #dedede;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #f3f3f3;
    color: black;
}

input[type="submit"]:hover
{
    background-color: #d7b570;
    border: 1px solid #d7b570;
    
}

input[type="text"]
{
    border: none;
    padding: 5px;
    border: 1px solid #bdc3c7;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: white;
    color: #27176f;
}

input[type="text"]:hover
{
    border: 1px solid #d7b570;
}

input[type="password"]
{
    border: none;
    padding: 5px;
    border: 1px solid #bdc3c7;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: white;
    color: #27176f;
}

input[type="password"]:hover
{
    border: 1px solid #d7b570;
}

select
{
    border: none;
    padding: 5px;
    border: 1px solid #bdc3c7;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: white;
    color: #27176f;
}
select:hover
{
    border: 1px solid #d7b570;
}

/*------------------------Textbox------------------------------*/

.form
{
    margin-bottom:20px;
    overflow: hidden;
    font-size: 13px;
    color: #5d5d5d;
    font-weight: bold;
    padding: 9px 20px;
    line-height: 20px;
    border: 1px solid #dedede;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;    
    margin-top: -1px;
}

.form-title
{
    margin-top: 5px;
    background: #f3f3f3 url(~/admin88/images/nav-bg-gold.png) left bottom repeat-x;
    font-size: 13px;
    color: #5d5d5d;
    font-weight: bold;
    padding: 5px 20px;
    line-height: 20px;
    border: 1px solid #dedede;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;    
    border-bottom: none;
}


/*validation*/

.field-validation-error{
    
    color: red;
    display: block;
}
