html, body, form, fieldset, h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol, dl, address {	margin:0;	padding:0;		}table {	background: #fff url(graphics/bg-body.gif) repeat-x;
	font: 80%/190% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;	}
p {
	text-align:center;
	}	
table a:link {
	color:#d42945;
	text-decoration:none;
	border-bottom:1px dotted #f3f3f3;
	}	
table a:visited {
	color:#d42945;
	border-bottom:none;
	text-decoration:none;
	}		
table a:hover,
table a:focus {
	color:#f03b58;
	border-bottom:1px solid #f03b58;
	text-decoration:none;
	}
    
table a,
table a:link,
table a:visited {
	border:none;
	}							
	
table {
	width:100%;
	border-top:1px solid #f3f3f3;
	border-right:1px solid #f3f3f3;
	border-collapse:collapse;
    
	}
caption {
	color: #9ba9b4;
	font-size:.94em;
	letter-spacing:.1em;
	margin: 5px;
	padding:0;
	caption-side:top;
	text-align:center;
	}	
tr.odd td	{
	background:#f7fbff
	}
tr.odd .column1	{
	background:#f4f9fe;
	}	
.column1	{
	background:#f9fcfe;
    text-align: left;
	}
td {
	color:#678197;
	border-bottom:1px solid #f3f3f3;
	border-left:1px solid #f3f3f3;
	padding:.3em 1em;
	text-align:center;
	}				
th {
	font-weight:normal;
	color: #678197;
	text-align:left;
	border-bottom: 1px solid #f3f3f3;
	border-left:1px solid #f3f3f3;
	padding:.3em 1em;
	}							
thead th {
	background:#f3f3f3;
	text-align:center;
	font:bold 1.2em/2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
	color:#66a3d3
	}	
tfoot th {
	text-align:center;
	background:#f4f9fe;
	}	
tfoot th strong {
	font:bold 1.2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
	margin:.5em .5em .5em 0;
	color:#66a3d3;
		}		
tfoot th em {
	color:#f03b58;
	font-weight: bold;
	font-size: 1.1em;
	font-style: normal;
	}	